{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}
Статьи
{% endblock title %}

{% block content %}

<h1>Все статьи</h1>

<div class="container">
            <div class="row", style="margin-top:50px">
              {% for post in articles %}
                  <div class="col-sm">
                    <div class="card border-secondary mb-3" style="max-width: 20rem;">
                      <div class="card-header">{{post.id}}: {{post.title|cenzor}}</div>
                      <div class="card-body">
                        <h4 class="card-title">{{post.author}}</h4>
                          <p class="card-text">{{post.date_create}}</p>
                        <p class="card-text">{{post.post_text|cenzor|truncatechars:20}}</p>
                      </div>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}