{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}
Подписка на категорию новостей
{% endblock title %}

{% block content %}
<body>
	<h1>Управление подпиской</h1>
	<p>Выберите категории, на которые хотите подписаться:</p>
	<a href="/categories" style="position: fixed; left: 0; top: 100px;">Back</a>

<hr>


<form action="{% url 'subscribe' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}

{% for category in filterset.form.categories %}
    <input type="checkbox" name="{{ category.name }}" value="{{ category.choice_value }}">
    <span>{{ category.choice_label }}</span>
{% endfor %}
  <button type="submit">Подписаться</button>

</form>

{% endblock content %}